.container {
  display: flex;
  width: 100%;
}
.content {
  width: calc(100% - 36rem);
  height: 100vh;
  overflow-y: scroll;
  /* background-color: red; */
  padding: 0 1rem;
}

@media screen and (min-width: 790px) and (max-width: 959px) {
  .content {
    width:  calc(100% - 6rem);
    margin-left: 6rem;
  }
}

@media screen and (max-width: 789px) {
  .content {
    width: 100%;
    /* padding: 0 3rem 0 1.8rem; */
  }
}
