.eventbannercontainer {
  background-position: top;
  background-size: cover;
  width: 100%;
  /* height: 55vh; */
  /* height: 27vw; */
  height: 40rem;
  display: flex;
  margin-bottom: 7.2rem;
  padding-top: 3.2rem;
}
.imgbackgroundcontainer {
  width: 120rem;
  /* height: 50vw; */
  /* height: 30vw; */
  height: 45rem;
  overflow: hidden;
  border-radius: 24px;
  margin: 0 auto;
}
.imgbackground {
background-position: center;
  background-size: cover;
  width: 100%;
  height: 100%;
  /* filter: blur(35px) brightness(.8) opacity(0.9); */
}

.eventimgcontainer {
  display: flex;
  background-color: rgba(255, 255, 255, 0.09);
  -webkit-backdrop-filter: blur(50px);
  backdrop-filter: blur(50px);
  height: 100%;
}

.eventimg {
  width: 90.7rem;
  margin: 0 auto;
  height: 100%;
}

@media screen and (max-width: 900px) {
  .imgbackground {
    background-image: none !important;
  }

  .eventimgcontainer {
    width: 100% !important;
  }

  .eventimg {
    width: 100% !important;
    margin: 0;
  }

  .imgbackgroundcontainer {
    height: 50vw;
  }

  .eventbannercontainer {
    height: 50vw;
  }
}

@media screen and (max-width: 1180px) {
  .eventbannercontainer {
    padding: 0;
    background-image: none !important;
  }

  .imgbackgroundcontainer {
    border-radius: 0 0 24px 24px;
  }
}
