.container{
    margin-block: 1rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.subHead{
    font-size: 2.5rem;
    color: var(--content-text);
    margin-block: 2rem;
}
.categoriesContainer{
    display: grid;
    grid-template-columns: repeat(4,1.2fr);
    grid-column-gap: 1.2rem;
    grid-row-gap: 1.2rem;
    cursor: pointer;
}

.category{
    display: inline-flex;
    align-items: center;    
    border: 1px solid #eeedf2;
    height: 5rem;
    /* width: 30rem; */
    border-radius: 2px;
    background-color: var(--primary-background);
    color: var(--primary-text);
    font-family: var(--main-h1);
    font-weight: 500;
    font-size: 1.3rem;
    gap: 2rem;
}

.category>svg, .category>svg>path{
    width: 3rem;
    fill: var(--orange);
}

.category>svg{
    background-color: #fdf7f5;
    padding: 1rem;
}


@media screen and (max-width:800px) {
    .categoriesContainer{
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width:370px) {
    .categoriesContainer{
        grid-template-columns: 1fr;
    }
}